/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(54, 52, 52);
}
.button-edit{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 25%;
}

.button-edit:hover{
    background-color: white;
    color: black;
}
.button-logout{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 25%;
}
.button-logout:hover{
    background-color: black;
    color: white;
}